
<nav class="navbar navbar-expand fixed-top">
  <div class="container-fluid">
    <div class="navbar-header mr-auto">
      <a class="navbar-brand text-light" href="/">Trace</a>
    </div>

    <!-- For mobile users. -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- The navigation bar in general. -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="https://github.com/Websci-Group-4/Trace">Github</a>
        </li>
      </ul>
      <!-- NOTE: Should only be shown when not logged in! -->

      <div class="ml-auto my-auto">
        <a class="btn btn-primary mx-1 text-light" href="/signin">Sign in</a>
        <a class="btn btn-primary mx-1 text-light" href="/register">Register</a>
      </div>
    </div>
  </div>
</nav>