<!DOCTYPE html>

<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jacob Dyer, Quadir Russell, Ethan Whitton, Deepti Sachi, and Kenny Lee">
    <title>Trace - Sign In</title>

    <!-- Bootstrap core CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body id="account-form" class="text-center trace-yellow h-100">
    <form class="form-account trace-orange rounded" action="/profile.html">
      <h1 class="h3 mb-3 font-weight-normal">Welcome Back to Trace!</h1>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" name="remember" value="remember-me">
          Remember your login.
        </label>
      </div>
      <button class="btn btn-lg btn-secondary btn-block" type="submit">
        <!-- NOTICE: This hyperlink is temporary!  It allows us to access the profile without having to type in the hotbar! -->
        <a class="text-light" href="/profile">Sign in</a>
      </button>
    </form>
  </body>
</html>
