<!DOCTYPE html>

<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jacob Dyer, Quadir Russell, Ethan Whitton, Deepti Sachi, and Kenny Lee">
    <title>Trace</title>

    <!-- Non-Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="leftcolumn">
        <form action="/profile">
          <label for="fname">Display Name:</label>
          <input type="text" id="fname" name="fname"><br><br>
          <label for="lname">Username:</label>
          <input type="text" id="lname" name="lname"><br><br>
          <label for="fname">Password:</label>
          <input type="password" id="fname" name="fname"><br><br>
          <label for="fname">Confirm Password:</label>
          <input type="password" id="fname" name="fname"><br><br>
          <label for="fname">Email:</label>
          <input type="text" id="fname" name="fname"><br><br>
          <input type="submit" value="Register">
        </form>
      </div>
      <div class="rightcolumn">
        <h2>Example Feed</h2>
        <div class="post">
          <h3>Kenneth_Lee8</h3>
          <img src="assets/images/example_pic.jpg" alt="Cute Pickachu Painting" width="200" height="240">
          <h4></h4>
          <h3>Jay_Dyers</h3>
          <img src="assets/images/example_pic2.jpg" alt="Scenary of Lake" width="200" height="240">
          <h4>Pic of the week #lakeviews</h4>
        </div>
      </div>
    </div>
  </body>
</html>
