<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Trace</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256–2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin=”anonymous”>
</script>
  <script src="https://d3js.org/d3.v6.js"></script>
  <script src="../assets/lab6.js"></script>
</head>
<body>
  <!-- Deepti -->
	<div style="text-align:center;" id="deepti-datavis1">
 	<img id="my_dataviz" src="assets/lab6/deeptivis1.png"><br/>
 	<h3>Data Visualization 1 (Deepti)<br/><a href="http://localhost:3000/image/deeptivis2/60769e84a2a1005304bbce99">Download CSV</a></h3>
	</div>
	<div style="text-align:center;" id="deepti-datavis2">
 	<img id="my_dataviz" src="assets/lab6/deeptivis2.png"><br/>
 	<h3>Data Visualization 2 (Deepti)<br/><a href="http://localhost:3000/users/deeptivis1/60769e7fa2a1005304bbce4c">Download CSV</a></h3>
	</div>

  <!-- Kenny -->
  <div style="text-align:center;" id="kenny-datavis1">
 	<h3>Data Visualization 1 (Kenny)<br/><a href="http://localhost:3000/image/kennyl">Download CSV</a></h3>
	</div>
  <div style="text-align:center;" id="kenny-datavis2">
 	<h3>Data Visualization 1 (Kenny)<br/><a href="http://localhost:3000/image/kennyl2">Download CSV</a></h3>
  </div>

  <!-- Jacob -->
  <div style="text-align:center;" id="jacob-datavis1">
    <img id="my_dataviz" src="assets/lab6/jacobvis1.png"><br/>
    <h3>
      Overview of Organization Involvement with Trace by Member Permissions (Jacob)
      <a href="http://localhost:3000/organizations/power">Download CSV</a>
    </h3>
    <p>Additionally split by permission type to determine what each organization uses most on the platform.</p>
  </div>
  <div style="text-align:center;" id="jacob-datavis2">
    <img id="my_dataviz" src="assets/lab6/jacobvis2.png"><br/>
    <h3>
      Proportion of "Power Users" based on Permission Count (Jacob)
      <a href="http://localhost:3000/users/powerusers">Download CSV</a>
    </h3>
    <p>The more permissions given, the more "power" a user has.  The detailed per-user breakdown is available in the CSV.</p>
  </div>
</body>
</html>
