
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <div class="card py-3 px-3 w-25">
    <form id="image-form">
      <div class="mb-4">
        <h1 class="h3 my-3 font-weight-normal text-center">Upload Image</h1>
      </div>

      <div class="form-label-group">
        <label for="inputTitle">Title</label>
        <input type="text" id="inputTitle" class="form-control" placeholder="Title" required>
      </div>

      <div class="form-label-group">
        <label for="inputDesc">Description</label>
        <input type="text" id="inputDesc" class="form-control" placeholder="Description" required>
      </div>

      <div class="form-label-group">
        <label for="inputImage">Image</label><br/>
        <input type="file" accept="image/*" id="inputImage" formControlName="image" required/>
      </div>

      <button class="btn btn-lg btn-primary btn-block my-3" type="submit">Upload Image</button>
    </form>
  </div>
</div>