#profile-head{
  background-color: #FFF8E6;
  height: 40vh;
}

#profile-head img{
  border-radius: 200px;
}

#profile-head .btn, #profile-body .btn{
  background-color: #872712;
  color: white;
}

#profile-head .btn:hover, #profile-body .btn:hover{
  background-color: #33130c;
}

#profile-body{
  height: 50vh;
  background-color: #FFF8E6;
}

#profile-desc{
  display: block;
  min-height: 100%;
  overflow-y: scroll;
}

#profile-desc textarea{
  width: 100%;
  min-height: 100%;
}

#profile-gallery {
  overflow-y: scroll;
  display: block;
}

#profile-gallery img{
  object-fit: cover;
  position: absolute;

  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #FF8336;
  border: 10px;
  padding-bottom: 20%;
}

#profile-gallery .gallery-title{
  position: absolute;
  top: 80%;
  text-overflow: ellipsis;
  height: 15%;
  width: 100%;
  background-color: #FF8336;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 15%;
  padding: 2% 5%;
}

@media screen and (min-width: 601px) {
  #profile-gallery .gallery-title-text{
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  #profile-gallery .gallery-title-text{
    font-size: 8vw;
  }
}

#profile-gallery .image:hover{
  color: white;
}

#profile-gallery .image:hover > img{
   opacity: 0.5;
}

#profile-gallery .image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    background-color: #FF8336;
    border-radius: 10px;
    margin-bottom:  1rem;
}