
<div class="container mt-5 bg-light" id="profile">
  <header id="profile-head" class="py-5 border">
    <div class="row">
      <!-- Icon -->
      <div class="col-sm-3">
        <img  width="150" height="150" class="img-thumbnail mx-auto d-block border border-primary" src="assets/images/profilepic.png">
      </div>
      <!-- Profile Overview -->
      <div class="col-sm-8">
        <h1 id="username">First Name + Last Name</h1>
        <h3 id="organization">Organization</h3>
        <!--<a class="btn btn-primary" href="/upload">Upload Image</a>-->
      </div>
    </div>
  </header>
  <div id="profile-body" class="album">
    <div class="container" id="profile-gallery">
      <!-- User Images -->
      <div class="row">

        <!-- Image Template -->
        <div class="card col-4">
          <img class="card-img-top img-thumbnail" src="assets/images/example_pic.jpg" alt="IMAGE NAME">
          <div class="card-body text-center">
            <a class="card-title">IMAGE TITLE</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>